node_modules

npm-debug.log
logs/
*.log
*.log.*

.env
.env.*
.env.example

Dockerfile
.dockerignore
docker-compose.yml
docker-compose*.yml

.vscode/
.idea/
*.swp
*.swo
nodemon.json

tmp/
.temp/
.cache/

dist/
build/
coverage/

README.md
LICENSE
.git
.gitignore